<style type="text/css">
	<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.5)" /> 
	ul.fuck {list-style-type: none}
	<base target="_blank" />
	<meta charset="gbk"/>
	a {text-decoration: none}

	.home
	{
		
	background:url(http://download.wxzzzwzm.cn/v.webp) no-repeat center top

	}

	body,ul,li,a
	{
		padding: 0;
		margin: 0;
	}
	body
	{
		background-color:#121e33;
		color: #000000; 
	}
	.menu
	{
		font-size: 0;
		padding: 0;
<!--
		height: 45px;
-->
		padding-left: 1%;
		position: relative;
		background-color: #00a2ca;
	}
	.menubar
	{
		margin: 0 auto;
		position: absolute;
		list-style-type: none;
		width: 100%;
		overflow-y: auto;
	}
 
	.menubar li
	{
		padding:0px 10px;
		display:inline-block;
		cursor: pointer;
		line-height: 45px;		
	}
	.menubar li:hover
	{
	background-color:#009bc2;
	}
	.menubar li.menu-value
	{
		background-color: #0095bb;	
	}

 	.menubar li.my
	{
		float:right
	}

	.menubar a
	{
		display: block;
		height: 45px;
		font-family: "微软雅黑","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"宋体" ;
		font-size: 15px;
		text-align: center;
		text-decoration: none;
		color: #fff;

</script>